BasedOnStyle: LLVM
Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never

AlignAfterOpenBracket: DontAlign
AlignOperands: false
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Attach

ColumnLimit: 100
IndentCaseLabels: false
SpaceBeforeParens: ControlStatements