BasedOnStyle: LLVM
Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Attach
AlignOperands: false
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty

ColumnLimit: 100
IndentCaseLabels: false
SpaceBeforeParens: ControlStatements